<!DOCTYPE html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/selectSettings.js"> </script>
<link rel='stylesheet'  href='./css/usb.css'>


<head>

</head>
<body bgcolor = "#FFF8FF" onload="load()">
<h1 id="info">Select Settings File</h1>
<h3 id = "infoIP"> http://<%=settings.ipAddress%>:<%=settings.webServer.listenPort%></h3>

<div id='body'>


<select size="8" id="selectedSettingsFile" style="font-size: 25px">
    <% var i = 0;
    settings.availableSettings.forEach(function(x){%>

    <option value = "<%=i%>"><%=x%></option>

    <%++i;
    })%>


</select>
</div>
<div id=button">
<button id="confirm" onclick = 'confirm()'>Confirm</button>
</div>
</body>
</html>
<script>
        settings=<%-JSON.stringify(settings)%>
        wiz=<%-JSON.stringify(wiz)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";

</script>
