<!DOCTYPE html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/usb.js"> </script>
<link rel='stylesheet'  href='./css/usb.css'>


<head>

</head>
<body bgcolor = "#FFFFFF" onload="load()">
<h1 id="info">USB Memory Inserted</h1>
<h3> http://<%=settings.ipAddress%>:<%=settings.webServer.listenPort%></h3>
<h1 id="info">Please Select Option:</h1>
<div id='body'>


<select size="10" id="selectedSettingsFile" style="font-size: 35px">

    <option value = 0>EXIT (Files Untouched)</option>
    <option value = 1>Clean R6 & Copy from USB</option>
    <option value = 2>Copy ALL from USB</option>
    <option value = 3>Copy NEWER from USB</option>


</select>

</div>
<div id="button">
<button id="confirm" onclick = 'confirm()'>Confirm</button>
</div>
</body>
</html>
<script>
        settings=<%-JSON.stringify(settings)%>
        wiz=<%-JSON.stringify(wiz)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";

</script>
