<!DOCTYPE html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/usb.js"> </script>



<head>

</head>
<body bgcolor = "#FFFFFF" onload="load()">
<h1 id="info">Memory Card Inserted</h1>
<h3> http://<%=settings.ipAddress%>:<%=settings.webServer.listenPort%></h3>

<div id='body'>

</div>
<select size="10" id="selectedSettingsFile" style="font-size: 35px">

    <option value = 0>Do nohing (exit)</option>
    <option value = 1>Delete all & replace all</option>
    <option value = 2>Replace ALL with usb</option>
    <option value = 3>Replace NEWER with usb</option>
</select>
<br>
<button id="confirm" onclick = 'confirm()'>Confirm</button>

</body>
</html>
<script>
        settings=<%-JSON.stringify(settings)%>
        wiz=<%-JSON.stringify(wiz)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";

</script>
